@forward '../references/index';
@forward './font';
@forward './card';
@forward 'react-toastify/dist/ReactToastify.css';

html {
    scroll-behavior: smooth;
}

body {
    padding: 0 !important;
    margin: 0;
    overflow-x: hidden;
    direction: rtl;

    #root {
        overflow: hidden;
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    outline: none;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
}

a:hover {
    text-decoration: none;
    opacity: 0.9 !important;
}