@import 'tailwindcss';

body {
    padding: 0;
    margin: 0;
    direction: ltr;
    background-color: #0c0b10;
}

#root {
    min-height: 100vh;
}

.spacer {
    flex: 1;
}

a {
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@theme {
    --color-primary: #ff0d1d;
    --color-background: #0c0b10;
}
